name: Release Firefox extension

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
      - id: info
        uses: niehusst/shared-actions/get-release-info@dist
      - run: npm ci
      - uses: ./.github/actions/bump-ext-version
        with:
          new-version: ${{ steps.info.outputs.version }}
      - id: draft-release
        uses: niehusst/shared-actions/release-github@dist
        with:
          name: ${{ steps.info.outputs.version }}
          tag: ${{ steps.info.outputs.tag }}
          body_base64: ${{ steps.info.outputs.changelog_base64 }}
          draft: true
      - id: build
        run: |-
          npm run build
        npx web-ext sign --api-key=${{ secrets.AMO_JWT_ISSUER }} --api-secret=${{ secrets.AMO_JWT_SECRET }} --channel='unlisted'
          echo "xpi-file=$(find web-ext-artifacts/ -name "*.xpi")" >> $GITHUB_OUTPUT
  
      - name: finalize release
        uses: niehusst/shared-actions/release-github@dist
        with:
          release_id: ${{ steps.draft-release.outputs.id }}
          name: ${{ steps.info.outputs.version }}
          tag: ${{ steps.info.outputs.tag }}
          assets: ${{ steps.build.outputs.xpi-file }}
          draft: false
      - uses: niehusst/shared-actions/git-push@dist
        with:
          file_pattern: manifest.json
          commit_message: 'ci: bump manifest version [ci skip]'
