name: Release Firefox extension

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
      - id: info
        uses: niehusst/shared-actions/get-release-info@dist
      - run: npm ci
      - uses: ./.github/actions/bump-ext-version
        with:
          new-version: ${{ steps.info.outputs.version }}
      - id: build
        run: |-
          npx web-ext sign --api-key=${{ secrets.AMO_JWT_ISSUER }} --api-secret=${{ secrets.AMO_JWT_SECRET }}
          echo "xpi-file=$(find web-ext-artifacts/ -name "*.xpi")" >> $GITHUB_OUTPUT
      - uses: niehusst/shared-actions/release-github@dist
        with:
          name: ${{ steps.info.outputs.version }}
          tag: ${{ steps.info.outputs.tag }}
          body_base64: ${{ steps.info.outputs.changelog_base64 }}
          assets: ${{ steps.build.outputs.xpi-file }}
  
